<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contacts.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Document</title>
</head>
<body>

    <!-- nav bar -->
    <%- include('includes/header.ejs') %>
    <!-- nav bar -->

    <div class="contacts">
        <h2>Contacts</h2>
        <p>some text here..</p>
    </div>

    <script src="/js/mainScript.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>