<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Document</title>
</head>
<body>
    <!-- <button id="submit" type="submit" onclick="formSubmit()">Login</button> -->

    <div class="container">
        <form>
            <input id="username" type="text" placeholder="Enter Username" >
            <input id="password" type="password" placeholder="Enter Password">
            <button id="submit" type="submit" onclick="login()">Login</button>
        </form>    
    </div>  

    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <!-- <script src="/js/mainScript.js"></script> -->
    <script src="/js/login.js"></script>
</body>
</html>